{
  "tabWidth": 4,
  "printWidth": 180,
  "singleQuote": false,
  "semi": true,
  "rangeStart": 0,
  "rangeEnd": 0,
  "trailingComma": "none",
  "useTabs": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
