@tailwind base;
@tailwind components;
@tailwind utilities;

select.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-print-color-adjust: exact;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    opacity: 0.5;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate(50%);
  }
}

@media screen(lg) {
  @keyframes content-show {
    from {
      opacity: 0.5;
      transform: translate(50%);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes content-hide {
    from {
      opacity: 1;
      transform: translate(0);
    }
    to {
      opacity: 0;
      transform: translate(70%);
    }
  }
}

.shareable[data-image="true"] {
}
